<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inponow Web Message</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/jsjq/jquery.min.js" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <style media="screen">
    @font-face {
      font-family: 'sans-bold';
      src: url('/font/OpenSans-Bold.ttf');
    }

    @font-face {
      font-family: 'sans';
      src: url('/font/OpenSans-Regular.ttf');
    }

    body{
      font-family: 'sans';
    }

    .shadow {
      box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px !important;
      border-radius: 7.2px;
    }

    a{
      color:#011f32 !important;
      font-family: 'sans-bold';
      font-weight: bold;
    }

    .bg-blue {
      background: #00CF68 !important;
      color: white;
      width: 100% !important;
      border-color: #00CF68;
    }

    .bg-yellow {
      width: 100%;
      color: #fff;
      border-color: transparent;
      background: #262626 !important;
    }

    .send{
      margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
      .send{
        margin-top: 13px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3 style="float:left">Inponow <span style="color:#00CF68;font-family: 'sans-bold';">Web Chat</span></h3>
        <!-- <a href="/logout" style="float:right" class="mt-2">🚀 Logout</a> -->
        <a href="/list" style="float:right;" class="mt-2">🐋 Back</a>
      </div>
      <div class="col-md-12 mt-3">
        <div class="alert shadow" style="background:rgba(0, 207, 104, 0.11);color:#00b75c" role="alert">
          Chat to, <strong> <%= data_receiver.name %></strong> 😀
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div id="chat" check="1__">

          <% history_chat.forEach((v,i)=>{ %>

            <% if (v.user_id ==  user_login.id_user) { %>
              <p class="text-right mt-2" style="margin:0;padding:5px 0 5px"><small>You ~ <%= v.time_chat %></small></p>
              <div class="p-3 text-right" style="background: rgba(0, 207, 104, 0.11);border-radius:7px;"><%= v.message %></div>
            <% } else { %>
              <p class="text-left mt-2" style="margin:0;padding:5px 0 5px"><small><%= data_receiver.name %> ~ <%= v.time_chat %></small></p>
              <div class="p-3 text-left" style="background:#808f99;border-radius:7px;color:#fff"><%= v.message %></div>
            <% } %>

          <% }) %>

        </div>
        <form id="messageForm" class="mt-3">
          <div class="form-group row">
            <div class="col-md-9">
              <label>Enter Message</label>
              <input type="text" class="form-control" id="message" name="" value="" autocomplete="off">
            </div>
            <div class="col-md-3">
              <button type="submit" style="width:100%" name="button" class="btn bg-blue send">📨 Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="row mt-4">
      <div class="col-md-12" >
        <div style="border-top:1px solid #00b75c;">
          <div class="pt-3 pb-3 float-right">
            © Copyright 2021 Aldi Pradana
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script type="text/javascript">

    $(document).ready(function() {
      $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    })

    $(function() {
      let socket = io.connect()
      let chat = $('#chat')
      let messageForm = $('#messageForm')
      let message = $('#message')

      messageForm.submit(function(e) {
        e.preventDefault()

        socket.emit('send_message', {
          username: '<%= user_login.username %>',
          message: message.val(),
          receiver: <%= data_receiver.id_user %>,
          group: '<%= group.id_group_chat %>',
          id_me: <%= user_login.id_user %>,
          name: '<%= user_login.name %>',
          img_profile: '<%= img_profile %>'
        });
        message.val('')
      })

      socket.on(`new_message_<%= group.id_group_chat %>`, function(data) {
        if (data.sender == '~') {
          alert("Can't send your message, please check your connection!");
        }else if (data.sender == '~*') {
          alert("App under maintenance, wait a few more moments ≧◠‿◠≦✌");
        }else if (data.sender == '<%= user_login.username %>') {
          chat.append(`<p class="text-right mt-2" style="margin:0;padding:5px 0 5px"><small>You ~ ${data.time}</small></p>
                      <div class="p-3 text-right" style="background: rgba(0, 207, 104, 0.11);border-radius:7px;">${data.msg} </div>`)
          $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        } else {
          chat.append(`<p class="text-left mt-2" style="margin:0;padding:5px 0 5px"><small><%= data_receiver.name %> ~ ${data.time}</small></p>
                      <div class="p-3 text-left"  style="background: #808f99;border-radius:7px;color:#fff">${data.msg}</div>`)
          $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        }

        // console.log('ini di client');
        console.log('<%= group.id_group_chat %>', 'ini id_group_chat');
      })


    })

    function respo() {
      if ($(window).width() > 768) {
        $('.nbr0012').removeClass('mt-2');
      } else {
        $('.nbr0012').addClass('mt-2');
      }
    }
    respo();
    $(window).resize(function() {
      respo();
    })
    // aldi ajibb
  </script>
</body>

</html>
