<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inponow Web Chat</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/jsjq/jquery.min.js" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <style media="screen">
    .shadow {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20) !important;
      border-radius: 7.2px;
    }

    .bg-blue {
      background: #00A3FF !important;
      color: white;
      width: 100% !important;
      border-color: #00a3ff;
    }

    .bg-yellow {
      color: #fff;
      border-color: transparent;
      background: #262626 !important;
    }

    .tr_contact:hover{
        background: #d3dfe6;
    }
  </style>
</head>

<body>
  <div class="container">
    <br>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <h3 style="float:left">Inponow <span style="color:#00A3FF">Web Chat</span></h3>
          <a href="/logout" style="float:right" class="mt-2">🚀 Logout</a>
        </div>
        <div class="col-md-12 mt-3">
          <% if(flash == 1){ %>
          <div class="alert alert-success shadow alert-dismissible fade show alert__" role="alert">
            <strong style="font-size:13px">Login Berhasil !</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% } %>
          <div class="notification_area">

          </div>
          <div class="alert shadow"  style="background:#c4e7fb">
            <strong>Hello,</strong> <%= user_login.name %> 😀
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Your Chat</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My Contact</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-borderless table-o mt-3 table_chat" style="width: 100%;border-radius:5px;">
                <tbody>
                  <% chat_list.forEach((item, i) => { %>
                  <tr style="border-bottom:1px solid #cdcdcd;" class="tr_contact" onclick="click_to_chat('/index/<%= item.id_friend %>')">
                    <td style="vertical-align:middle"><%= item.name %>
                      <br>
                      <small> <span class="sender_chat_<%= item.username %>"><%= item.user_id == user_login.id_user ? 'You' : item.name %></span> : <span class="target_<%= item.username  %>"><%= item.message  %></span> </small>
                    </td>
                    <td style="vertical-align:top;float:right"> <small class="target_time_<%= item.username  %>"><%= item.time_chat %></small> </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row list__">
            <div class="col-md-12">
              <br>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" oninput="searhContact(this)" style="width:100%" placeholder="Search..." name="" value="">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn bg-blue shadow nbr0012" name="button_add_friend">🕺🏽 Add Friend</button>
            </div>
            <div class="col-md-12">
              <table class="table table-borderless table-o mt-3 friend_list" style="width: 100%;border-radius:5px;">
                <tbody>
                  <% items.forEach((item, i) => { %>
                  <tr style="border-bottom:1px solid #cdcdcd;" class="tr_contact" onclick="click_to_chat('/index/<%= item.id_user %>')">
                    <td style="vertical-align:middle"><%= item.name %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
          <div class=" row add__ mt-4" style="display:none">
            <div class="col-md-12">
              <h5 class="pt-1 float-left">Find Friend</h5>
              <button type="button" class="float-right" style="background:transparent;border:0;color:#00a3ff" name="button_back">🏄🏽 Back</button>
            </div>
            <div class="col-md-10 mt-3">
              <input type="text" id="username__" class="form-control" autocomplete="off" placeholder="Search By Username..." value="">
            </div>
            <div class="col-md-2">
              <button type="button" style="width:100%;margin-top:20px" class="btn bg-blue shadow mt-3 find__" name="button">🔍 Find</button>
            </div>
            <div class="col-md-12 find_area__">

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">
            <div class="col-md-12">
              <br>
              Me, <%= user_login.name %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
      <div class="toast-header">
        <img src="" class="rounded mr-2" alt="">
        <strong class="mr-auto">InponowWebChat</strong>
        <small>Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
         Username Can't Be Empty, Please Type..
      </div>
    </div>
  </div>

  <script type="text/javascript">

    function click_to_chat(n) {
      console.log(n);
      location.replace(n);
    }

    $(document).ready(function() {
      setTimeout(function() {
        $('.alert__').fadeOut();
      }, 2000);
    });

    $('button[name="button_add_friend"]').on('click', function() {
      $('.add__').show();
      $('.list__').hide();
    });

    $('button[name="button_back"]').on('click', function() {
      $('.add__').hide();
      $('.list__').show();
    });

    $('.find__').on('click', () => {
      let val = $('#username__').val();
      if (val != '') {
        $.ajax({
          url: "/find",
          type: 'POST',
          cache: false,
          // dataType: 'JSON',
          data: {
            username: val,
          },
          beforeSend: function() {
            $('.find_area__').html(`<center class="mt-5"><h2>🏄</h2>Loading..</center>`);
          },
          success: function(result) {
            if (result != 0) {
              $('.find_area__').html(result);
            } else {
              $('.find_area__').html('<center class="mt-5"><h2>😢</h2>Username Not Found !</center>');
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.error();
          }
        })
      }else {
        $('#liveToast').toast('show')
      }
    })

    const add_friend = (id_) => {
      let tampung_sementara = [];
      $(`tr[row-id="${id_}"] td`).each((i,v) =>{
        if (i !== 3) {
          tampung_sementara.push($(v).text());
        }
      })

      $('.find_area__').html(`<center class="mt-5"><h2>🏄</h2>Sedang Menambahkan Teman..</center>`);

      $.ajax({
        url: "/cek_friend",
        type: 'POST',
        cache: false,
        dataType: 'JSON',
        data: {
          id_friend: id_
        },
        success: function(result_) {
          console.log(result_);
          if (result_ == 1) {

            $.ajax({
              url: "/add_friend",
              type: 'POST',
              cache: false,
              dataType: 'JSON',
              data: {
                id_friend: id_,
                id_group_chat: `<%= user_login.username %>_${tampung_sementara[1]}`
              },
              success: function(result) {
                if (result.success == 1) {
                  let count_ = $('.friend_list tbody tr').length;
                  $('.friend_list tbody').append(`<tr style="border-bottom:1px solid #cdcdcd;" class="tr_contact" onclick="click_to_chat('/index/${id_}')">
                                                    <td style="vertical-align:middle">${tampung_sementara[2]}</td>
                                                  </tr>`);
                  $('.find_area__').html(`<center class="mt-5"><h2>🏄</h2>${tampung_sementara[2]} berhasil ditambahkan</center>`);
                  setTimeout(function () {
                    $('.find_area__').html(``);
                  }, 579);
                }else {
                  $('.find_area__').html(`<center class="mt-5"><h2>🏄</h2>${tampung_sementara[2]} </center>`);
                }
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.error();
              }
            })


          }else {
            $('.find_area__').html(`<center class="mt-5"><h2>🏄</h2>${tampung_sementara[2]} telah menjadi teman anda.</center>`);
          }

        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.error();
        }
      })

    }

    $(function() {
      let socket = io.connect()
      socket.on(`notification_<%= user_login.id_user %>`, function(data) {
        $('.notification_area').html(`<div class="alert alert-success shadow alert-dismissible fade show" role="alert">
          New Message From <b style="text-transform:capitalize">${data.sender}</b> ~ "${data.msg}"
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>`);
        console.log($(`.target_${data.sender}`).text(), 'cek notif');
        if ($(`.target_${data.sender}`).text() == '') {
          let new_message = `<tr style="border-bottom:1px solid #cdcdcd;" class="tr_contact" onclick="click_to_chat('/index/${data.id_receiver}')">
                              <td style="vertical-align:middle">${data.name}
                                <br>
                                <small>${data.name} : <span class="target_${data.sender}">${data.msg}</span> </small>
                              </td>
                              <td style="vertical-align:top;float:right"> <small class="target_time_${data.sender}">${data.time}</small> </td>
                            </tr>`;
          $('.table_chat tbody').append(new_message);
        }else {
          $(`.target_${data.sender}`).text(data.msg);
          $(`.target_time_${data.sender}`).text(data.time);
          $(`.sender_chat_${data.sender}`).text(data.name);
        }

    })


    })

    function searhContact(th) {
      var $rows = $('.friend_list tr');
      $(th).keyup(function() {
          var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

          $rows.show().filter(function() {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
          }).hide();
      });
    }

    function respo() {
      if ($(window).width() > 768) {
        $('.nbr0012').removeClass('mt-2');
      } else {
        $('.nbr0012').addClass('mt-2');
      }
    }
    respo();
    $(window).resize(function() {
      respo();
    })


  </script>
</body>

</html>
