  <% if(items != 0) {%>
  <table class="table table-borderless mt-3" style="width: 100%;border-radius:5px;">
    <thead class="">
      <tr style="border-bottom:1px solid #e3e3e3">
        <th style="width:7%;text-align:center" hidden>No</th>
        <th style="display:none;">Username</th>
        <th style="width:68%">Name</th>
        <th style="width:10%"> </th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach((item, i) => { %>
      <tr row-id="<%= item.id_user %>" style="border-bottom:1px solid #cdcdcd;">
        <td style="text-align:center;vertical-align:middle" hidden><%= Number(i)+1 %></td>
        <td style="vertical-align:middle;display:none;"><%= item.username %></td>
        <td style="vertical-align:middle"><%= item.name %></td>
        <td style="vertical-align:middle;text-align:center"> <button class="btn shadow btn-simple-cs" onclick="add_friend('<%= item.id_user %>', '<%= user_login.username %>')">➕</button> </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
